* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background:linear-gradient(to right, #121212, #000000);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.calculator {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 380px;
  border-radius: 28px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.7);
}

#result {
  width: 100%;
  padding: 20px 10px;
  font-size: 3.5rem;
  text-align: right;
  background: transparent;
  border: none;
  color: #fff;
  margin-bottom: 15px;
  outline: none;
  font-weight: 200;
}

#result::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
}

button {
  height: 70px; 
  font-size: 1.3rem;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  color: #efefef;
  background: rgba(255, 255, 255, 0.05);
  transition: all 0.2s linear;
}

button:hover {
  background: rgba(255, 255, 255, 0.15);
}

button:active {
  transform: scale(0.95);
}


.clear {
  color: #ff5f56;
  background: rgba(255, 95, 86, 0.1);
}

.operator {
  color: #00d2ff;
  background: rgba(0, 210, 255, 0.05);
  font-weight: 600;
}

.equals {
  height:50px;
  grid-column: span 4; 
  background: #02576bbb;
  color: white;
  font-weight: semibold;
}
.equals:hover{
    background: rgba(0, 217, 255, 0.1);
}

.number {
  background: rgba(255, 255, 255, 0.03);
}

@media (max-width: 480px) {
  .calculator {
    padding: 20px;
    max-width: 100%;
    border-radius: 20px;
  }
  
  button {
    height: 60px;
    font-size: 1.2rem;
  }

  #result {
    font-size: 2.8rem;
  }
}